* {
    font-family:Helvetica;

}

body {
    margin: 0px;

}

h1, h2 {
    font-family: Megrim;
    color: white;
    font-size: 32px;
    margin: 0px;

}

h3 {
    font-family: Work Sans;
    font-weight: thin 100;
    color:darkslategray;
    padding: 5px;
    margin: 0px;

}

figure {
    display: inline-block;
    
}

figure img {
    vertical-align: top;

}

figure figcaption {
    text-align: center;
    
}

.heroimage {
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9)),  url("../../resources/images/pattern.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.heroimage h1 {
    font-size: 13vw;
    text-align: center;
    color:rgb(194, 168, 19)

}

.nav {
    height: 75px;
    line-height: 75px;
    width: 100vw;
    text-align: center;

}

.brushimage {
    background: url("../images/hacksaw.jpg");
    margin: 0px;
    padding: 0px;
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.frameimage {
    background: url("../images/frames.jpg");
    margin: 0px;
    padding: 0px;
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

li a {
    color: white;
    text-align: center;
    font-family: Megrim;
    font-size: 32px;
    text-decoration: none;
    line-height: 75px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

}

li {
    width: 33.3%;
    background-color:rgb(37, 37, 32);

}

li:hover {
    background-color:rgb(112, 97, 10);
    
}

.sectionlabel {
    text-align: center;
    font-size: 50px;
    background-color:rgba(0, 0, 0, 0.2);
    width: 100%;

}

.sectionimg {
    height: 150px;
    padding: 20px;
    opacity: 0.5;

}

.sectionimg:hover {
    opacity: 1;

}

.options {
    text-align: center;
    margin: auto;

}

.itemdesc {
    text-align: center;
    font-family: Work Sans;
    color: gray;
    width: 20vw;
    font-size: 12px;

}

@media only screen and (max-width: 500px) {
    /*shows elements in a column*/
    ul{
      flex-direction: column;
      padding: auto;

    }
    
    /* deletes margin on top or bottom of the a tag*/
    li{
      margin: 0;
      display: block;
      width: 100%;
    }
   /* makes sure that the a tag will take the entire screen*/
    a{
      display: block;
    }
  }

    button {
        display: block;

    }